@font-face{
    font-family: 'Bukhari';
    src:url(../fuentes/Bukhari-Script.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Horta';
    src:url(../fuentes/Horta.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Minnie';
    src:url(../fuentes/Minnie.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Gotham';
    src:url(../fuentes/Gotham.ttf);
    font-weight: normal;
    font-style: normal;
}

body.normal {
    filter: none;
}

/* Filtro para protanopía (rojo-verde) */
body.protanopia {
    filter: hue-rotate(12deg) sepia(0.05) brightness(90%);
}

/* Filtro para deuteranopía (rojo-verde) */
body.deuteranopia {
    filter: hue-rotate(2deg) sepia(0.2);
}

/* Filtro para tritanopía (azul-amarillo) */
body.tritanopia {
    filter: hue-rotate(300deg) sepia(0.3);
}

body, html{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #E9D5B0;
    position: relative;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

/*Parte del cabezal*/

.Cabezal{
    height: 11vh;
    width: 100vw;
    background-color: #DD860A;
    position: relative;
    z-index: 1;
}

.botonInicio{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-family: 'Minnie';
    font-size: 1.5rem;
    background: linear-gradient(to bottom, #e08e16, #ecb44a);
    border: 10px solid #F2C560;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    left: 0.8%;
    z-index: 2;
}

.botonInicio:hover{
    background: linear-gradient(to bottom, #E9AB46, #DD8509);
    border: 10px solid #F0C30C;
}

.titulo1{
    color: white;
    text-shadow: 8px 8px 3px rgba(102, 51, 51, 0.5), 13px 13px 3px rgba(173, 87, 87, 0.3);
    font-size: 3rem;
    font-family: 'Bukhari';
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) rotate(350deg);
    z-index: 2;
}
.titulo2{
    color: white;
    text-shadow: 8px 8px 3px rgba(102, 51, 51, 0.5), 13px 13px 3px rgba(173, 87, 87, 0.3);
    font-size: 3rem;
    font-family: 'Bukhari';
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) rotate(350deg);
    z-index: 2;
}
.circulo{
    width: 200px;
    height: 200px;
    background-color: #DD860A;
    border-radius: 50%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.abejaCJI{
    width: 50px;
    height: 50px;
}

.abejaCJ{
    position: fixed;
    top: 1.5%;
    left: 44.5%;
    transform: rotate(350deg);
    z-index: 2;
    filter: drop-shadow(-5px 0px 10px rgba(0, 0, 0, 0.8));
}

.soporte{
    margin: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Minnie';
    font-size: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    right: 0.8%;
    cursor: pointer;
    z-index: 2;
}

.soporteimg{
    filter: drop-shadow(10px 5px 10px rgba(0, 0, 0, 0.5)) drop-shadow(-10px 5px 10px rgba(0, 0, 0, 0.5)) drop-shadow(0px -10px 10px rgba(0, 0, 0, 0.5));
}

.soporte p {
    padding: 0;
    margin: 0;
}

.manual{
    margin: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Minnie';
    font-size: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    right: 6%;
    cursor: pointer;
    z-index: 2;
}

.manualimg{
    filter: drop-shadow(10px 5px 10px rgba(0, 0, 0, 0.5)) drop-shadow(-10px 5px 10px rgba(0, 0, 0, 0.5)) drop-shadow(0px -10px 10px rgba(0, 0, 0, 0.5));
}

.manual p {
    padding: 0;
    margin: 0;
}

#formDiv{
    display: none;
    font-family: 'Horta';
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: linear-gradient(to bottom, #e08e16, #ecb44a);
    border: 10px solid #f2c561;
    border-radius: 10px;
    width: 500px;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(10px 5px 30px rgba(120,72,6, 0.8)) drop-shadow(-10px 5px 30px rgba(120,72,6, 0.8)) drop-shadow(0px -10px 30px rgba(120,72,6, 0.8));
    z-index: 6;
}

.formQueja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Horta';
    font-size: 1.5rem;
    width: max-content;
    height: max-content;
    margin: 5px;
}

#formEmail{
    all: unset;
    width: 400px;
}

#mensajeForm{
    min-height: 270px;
    min-width: 450px;
}

.btnEnviar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Horta';
    font-size: 1.5rem;
    background: linear-gradient(to bottom, #e08e16, #ecb44a);
    border: 10px solid #F2C560;
    border-radius: 10px;
    width: 450px;
    height: 50px;
    margin-top: 10px;
    cursor:pointer;
}

.btnEnviar:hover{
    background: linear-gradient(to bottom, #E9AB46, #DD8509);
    border: 10px solid #F0C30C;
}

.l1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Botones*/

.btnContra{
    display: flex;
    font-family: 'Horta';
    position: absolute;
    font-size: 3rem;
    top: 30%;
    left: 20%;
    background: linear-gradient(to bottom, #e08e16, #ecb44a);
    border: 10px solid #f2c561;
    border-radius: 10px;
    width: 450px;
    height: 60px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.btnContra:hover{
    background: linear-gradient(to bottom, #E9AB46, #DD8509);
    border: 10px solid #F0C30C;
}

#popupContra {
    font-family: 'Horta';
    color: white;
    font-size: 2.2rem;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, #F8730E, #DD860A);
    border: 10px solid #f2c561;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 650px;
    z-index: 2;
}

.pPop{
    text-decoration: none;
    margin: 0;
}

.btnInput{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Horta';
    font-size: 1.5rem;
    background: linear-gradient(to bottom, #e08e16, #ecb44a);
    border: 10px solid #F2C560;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    left: 0.8%;
    cursor:pointer;
}

.btnInput:hover{
    background: linear-gradient(to bottom, #E9AB46, #DD8509);
    border: 10px solid #F0C30C;
}

#contenedorContra {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mensajeContra{
    font-family: 'Horta';
    color: white;
    font-size: 2.2rem;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, #F8730E, #DD860A);
    border: 10px solid #f2c561;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 650px;
    z-index: 4;
}

#inputContra{
    all: unset;
}

/*Tiempo*/

.tiempodiv{
    display: flex;
    font-family: 'Horta';
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 20%;
    background: linear-gradient(to bottom, #e08e16, #ecb44a);
    border: 10px solid #f2c561;
    border-radius: 10px;
    width: 450px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.tiempodiv2{
    margin-top: 10px;
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
}

.btnGuardar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Horta';
    font-size: 1.3rem;
    background: linear-gradient(to bottom, #e08e16, #ecb44a);
    border: 5px solid #F2C560;
    border-radius: 10px;
    width: 80px;
    height: 25px;
    left: 0.8%;
}

.btnGuardar:hover{
    background: linear-gradient(to bottom, #E9AB46, #DD8509);
    border: 5px solid #F0C30C;
}

#tiempoInput{
    all: unset;
}

#mensajeTiempo{
    font-family: 'Horta';
    color: white;
    font-size: 2.2rem;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, #F8730E, #DD860A);
    border: 10px solid #f2c561;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 650px;
    z-index: 4;
}

#contadorTiempo{
    position: absolute;
    top: 65%;
    left: 20%;
    font-family: 'Horta';
    font-size: 2.2rem;
}

/*Daltonismo*/

.daltonismodiv{
    display: flex;
    font-family: 'Horta';
    position: absolute;
    font-size: 2rem;
    top: 30%;
    left: 55%;
    background: linear-gradient(to bottom, #e08e16, #ecb44a);
    border: 10px solid #f2c561;
    border-radius: 10px;
    width: 600px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.botonesDaltonismo{
    display: flex;
}

.btnNormal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Horta';
    font-size: 1.6rem;
    background: linear-gradient(to bottom, #e08e16, #ecb44a);
    border: 5px solid #F2C560;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    margin-right: 5px;
}

.btnDeu{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Horta';
    font-size: 1.6rem;
    background: linear-gradient(to bottom, #e08e16, #ecb44a);
    border: 5px solid #F2C560;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    margin-right: 5px;
}

.btnDeu:hover{
    background: linear-gradient(to bottom, #E9AB46, #DD8509);
    border: 5px solid #F0C30C;
}

.btnPro{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Horta';
    font-size: 1.6rem;
    background: linear-gradient(to bottom, #e08e16, #ecb44a);
    border: 5px solid #F2C560;
    border-radius: 10px;
    width: 130px;
    height: 40px;
}

.btnPro:hover{
    background: linear-gradient(to bottom, #E9AB46, #DD8509);
    border: 5px solid #F0C30C;
}

.btnTrita{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Horta';
    font-size: 1.6rem;
    background: linear-gradient(to bottom, #e08e16, #ecb44a);
    border: 5px solid #F2C560;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    margin-right: 5px;
}

.btnTrita:hover{
    background: linear-gradient(to bottom, #E9AB46, #DD8509);
    border: 5px solid #F0C30C;
}

/*Dificultad*/

.difdiv{
    display: flex;
    font-family: 'Horta';
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 55%;
    background: linear-gradient(to bottom, #e08e16, #ecb44a);
    border: 10px solid #f2c561;
    border-radius: 10px;
    width: 600px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.botonesdif{
    display: flex;
}

.btnFacil{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Horta';
    font-size: 1.6rem;
    background: linear-gradient(to bottom, #e08e16, #ecb44a);
    border: 5px solid #F2C560;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    margin-right: 5px;
}

.btnDificil{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Horta';
    font-size: 1.6rem;
    background: linear-gradient(to bottom, #e08e16, #ecb44a);
    border: 5px solid #F2C560;
    border-radius: 10px;
    width: 130px;
    height: 40px;
}

.btnDeu:hover{
    background: linear-gradient(to bottom, #E9AB46, #DD8509);
    border: 5px solid #F0C30C;
}

#mensajeDificultad{
    font-family: 'Horta';
    color: white;
    font-size: 2.2rem;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, #F8730E, #DD860A);
    border: 10px solid #f2c561;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 650px;
    z-index: 4;
}

#imgDivContenedor{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, #F8730E, #DD860A);
    border: 10px solid #f2c561;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 80vh;
    width: 80vw;
    z-index: 4;
    overflow: hidden;
}

.sliderImagen {
    display: flex;
    width: 1300%;
    height: 75vw;
    margin-left: -100%;
}

.slidersection{
    width: 100%;
    height: 100%
}

.imgS{
    display: block;
    height: auto;
    width: 75vw;
    margin: auto;
    margin-top: 1.5%;
}
.sliderButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
}

.sliderButton:hover{
    background-color: #ffff;
    color: black;
}

#prevButton {
    left: 0;
}

#nextButton {
    right: 0;
}

/*Decoracion de fondo*/

.florImg{
    width: 225px;
    height: 450px;
}

.florImg2{
    width: 170px;
    height: 340px;
}

.florF1{
    position: fixed;
    bottom: -170px;
    right: -50px;
    transform: rotate(350deg);
    z-index: 0;
}

.florF2{
    position: fixed;
    bottom: -170px;
    right: 0px;
    transform: rotate(310deg);
    z-index: 0;
}

.panalImg{
    width: 500px;
    height: 500px;
}

.panalF1{
    position: fixed;
    bottom: -200px;
    left: -60px;
}

.panalF2{
    position: fixed;
    bottom: 190px;
    left: -240px;
}

.panalF3{
    position: fixed;
    top: -160px;
    right: -110px;
}
.panalF4{
    position: fixed;
    top: 235px;
    right: -290px;
}

/*Input de Volumen*/

#controlVolumen{
    position: absolute;
    top: 41.5%;
    left: 20%;
    border: 10px solid #f2c561;
    border-radius: 10px;

    font-family: 'Horta';
    font-size: 1.6rem;

    background: #fff;
    height: 2rem;
    width: 450px;
    border-radius: 5rem;
    box-shadow: 1px 5px 5px rgba(black, 0.3);

    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 80%;
    height: 100%;
    background: transparent;

    &:focus {
        outline: none;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #ffffff;
        margin-top: -5px;
        box-shadow: 1px 1px 2px rgba(#000, 0.5);

        cursor: pointer;

    }

    &::-webkit-slider-runnable-track {
        width: 60%;
        height: 9px;
        background: #F4C460;
        border-radius: 3rem;

        transition: all 0.5s;
        cursor: pointer;
    }

    &:hover::-webkit-slider-runnable-track {
        background: #DD860A;
    }


    &::-ms-track {
        width: 60%;
        cursor: pointer;
        height: 9px;

        transition: all 0.5s;
        /* Hides the slider so custom styles can be added */
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    &::-ms-thumb {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #ffffff;
        margin-top: -5px;
        box-shadow: 1px 1px 2px rgba(#000, 0.5);

        cursor: pointer;
    }

    &::-ms-fill-lower {
        background: #bdbdbd;
        border-radius: 3rem;
    }
    &:focus::-ms-fill-lower {
        background: #ff6e40;
    }
    &::-ms-fill-upper {
        background: #bdbdbd;
        border-radius: 3rem;
    }
    &:focus::-ms-fill-upper {
        background: #ff6e40;
    }

    &::-moz-range-thumb {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #ffffff;
        margin-top: -5px;
        box-shadow: 1px 1px 2px rgba(#000, 0.5);

        cursor: pointer;
    }

    &::-moz-range-track {
        width: 60%;
        height: 9px;
        background: #bdbdbd;
        border-radius: 3rem;

        transition: all 0.5s;
        cursor: pointer;
    }
    &:hover::-moz-range-track {
        background: #ff6e40;
    }
}
