@font-face{
    font-family: 'Bukhari';
    src:url(../fuentes/Bukhari-Script.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Minnie';
    src:url(../fuentes/Minnie.ttf);
    font-weight: normal;
    font-style: normal;
}

body, html{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #E9D5B0;
    position: relative;
    overflow: hidden;   
}

.titulo1{
    color: white;
    text-shadow: 8px 8px 3px rgba(102, 51, 51, 0.5), 13px 13px 3px rgba(173, 87, 87, 0.3);
    font-size: 10rem;
    font-family: 'Bukhari';
    position: absolute;
    top: 10%;
    left: 50%;
    animation: SyBTitulo 3s linear infinite;
}
.titulo2{
    color: white;
    text-shadow: 8px 8px 3px rgba(102, 51, 51, 0.5), 13px 13px 3px rgba(173, 87, 87, 0.3);
    font-size: 10rem;
    font-family: 'Bukhari';
    position: absolute;
    top: 25%;
    left: 50%;
    animation: SyBTitulo 3s linear infinite;
}

@keyframes SyBTitulo {
    0%, 100% {
        transform: translateY(0) translateX(-50%) rotate(350deg);
    }
    50% {
        transform: translateY(-45px) translateX(-50%) rotate(350deg);
    }
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

/*Boton de Jugar y Como Jugar*/

.boton1{
    display: flex;
    font-family: 'Minnie';
    position: absolute;
    font-size: 3rem;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom, #e08e16, #ecb44a);
    border: 10px solid #f2c561;
    border-radius: 10px;
    width: 450px;
    height: 60px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.boton1:hover{
    background: linear-gradient(to bottom, #E9AB46, #DD8509);
    border: 10px solid #F0C30C;
}

.boton2{
    display: flex;
    font-family: 'Minnie';
    position: absolute;
    font-size: 3rem;
    top: 78%;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom, #e08e16, #ecb44a);
    border: 10px solid #f2c561;
    border-radius: 10px;
    width: 450px;
    height: 60px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.boton2:hover{
    background: linear-gradient(to bottom, #E9AB46, #DD8509);
    border: 10px solid #F0C30C;
}

.popupdif{
    padding: 10px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, #AD6905, #DD860A);
    border: 10px solid #f2c561;
    border-radius: 10px;
}

.botondif{
    cursor: pointer;
    font-family: 'Minnie';
    font-size: 4rem;
    margin: 10px;
    padding: 10px;
    background: linear-gradient(to bottom, #e08e16, #ecb44a);
    border: 10px solid #f2c561;
    border-radius: 10px;
}

/*Abeja Titulo*/

.abejaF1{
    position: fixed;
    top: 12%;
    right: 59.5%;
    transform: rotate(350deg);
    z-index: 1;
    animation: abejaSyB 3s linear infinite;
}

.abejaImg{
    width: 100px;
    height: 100px;
}

/*Abeja Boton Jugar*/

.abejaF2{
    position: fixed;
    bottom: 33%;
    right: 36%;
    transform: rotate(350deg);
    z-index: 1;
    transform: scaleX(-1);
}

.abejaImg2{
    width: 50px;
    height: 50px;
}

/*Animacion de Abeja del titulo sube y baja*/

@keyframes abejaSyB {
    0%, 100% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-45px) rotate(10deg);
    }
    50% {
        transform: translateY(-50px) translateX(-10px) rotate(350deg);
    }
    60%{
        transform: translateY(-60px) rotate(10deg);
    }
    70%{
        transform: translateY(-80px) translateX(40px) rotate(20deg);
    }
}

/*Decoracion de fondo*/

.florImg{
    width: 225px;
    height: 450px;
}

.florImg2{
    width: 170px;
    height: 340px;
}

.florF1{
    position: fixed;
    bottom: -170px;
    right: -50px;
    transform: rotate(350deg);
    z-index: 1;
}

.florF2{
    position: fixed;
    bottom: -170px;
    right: 0px;
    transform: rotate(310deg);
    z-index: 1;
}

.florF3{
    position: fixed;
    top: -170px;
    left: -50px;
    transform: rotate(170deg);
    z-index: 1;
}

.florF4{
    position: fixed;
    top: -170px;
    left: 0px;
    transform: rotate(130deg);
    z-index: 1;
}

.panalImg{
    width: 500px;
    height: 500px;
}

.panalF1{
    position: fixed;
    bottom: -200px;
    left: -60px;
}

.panalF2{
    position: fixed;
    bottom: 190px;
    left: -240px;
}

.panalF3{
    position: fixed;
    top: -160px;
    right: -110px;
}
.panalF4{
    position: fixed;
    top: 235px;
    right: -290px;
}

