@font-face{
    font-family: 'Bukhari';
    src:url(../fuentes/Bukhari-Script.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Horta';
    src:url(../fuentes/Horta.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Minnie';
    src:url(../fuentes/Minnie.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Gotham';
    src:url(../fuentes/Gotham.ttf);
    font-weight: normal;
    font-style: normal;
}

body.normal {
   filter: none;
}

/* Filtro para protanopía (rojo-verde) */
body.protanopia {
   filter: hue-rotate(12deg) sepia(0.05) brightness(90%);
}

/* Filtro para deuteranopía (rojo-verde) */
body.deuteranopia {
   filter: hue-rotate(2deg) sepia(0.2);
}

/* Filtro para tritanopía (azul-amarillo) */
body.tritanopia {
   filter: hue-rotate(300deg);
}

body, html{
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#particles-js{
    position: absolute;
    display: none;
    height: 89vh;
    top: 11vh;
    width: 100vw;
    z-index: 2;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

/*Parte de Cabezal*/

.Cabezal{
    height: 11vh;
    width: 100vw;
    background-color: #DD860A;
    position: relative;
}

.botonInicio{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-family: 'Minnie';
    font-size: 1.5rem;
    background: linear-gradient(to bottom, #e08e16, #ecb44a);
    border: 10px solid #F2C560;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    top: 10%;
    left: 0.8%;
}

.botonInicio:hover{
    background: linear-gradient(to bottom, #E9AB46, #DD8509);
    border: 10px solid #F0C30C;
}

.titulo1{
    color: white;
    text-shadow: 8px 8px 3px rgba(102, 51, 51, 0.5), 13px 13px 3px rgba(173, 87, 87, 0.3);
    font-size: 3rem;
    font-family: 'Bukhari';
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) rotate(350deg);
    z-index: 2;
}
.titulo2{
    color: white;
    text-shadow: 8px 8px 3px rgba(102, 51, 51, 0.5), 13px 13px 3px rgba(173, 87, 87, 0.3);
    font-size: 3rem;
    font-family: 'Bukhari';
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) rotate(350deg);
    z-index: 2;
}
.circulo{
    width: 200px;
    height: 200px;
    background-color: #DD860A;
    border-radius: 50%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.abejaCJI{
    width: 50px;
    height: 50px;
}

.abejaCJ{
    position: fixed;
    top: 1.5%;
    left: 44.5%;
    transform: rotate(350deg);
    z-index: 2;
    filter: drop-shadow(-5px 0px 10px rgba(0, 0, 0, 0.8));
}

/*Parte del cuerpo*/

.cuerpo{
    display: flex;
    height: 89%;
    width: 100vw;
    position: absolute;
    background-image: url('../img/fondo.jpg');
    background-size: contain;
}

/*Parte del juego estructura de panales a la colmena*/

.col{
    position: absolute;
}

.colI{
    width:400px;
    height:400px;
}

.panalImg{
    width: 150px;
    height: 150px;
}

.panal1{
    filter: grayscale(100%);
    position: absolute;
    top: 30%;
    left: 16%;
}
.panal2{
    filter: grayscale(100%);
    position: absolute;
    top: 41.4%;
    left: 20.5%;
}
.panal3{
    filter: grayscale(100%);
    position: absolute;
    top: 30%;
    left: 25%;
}
.panal4{
    filter: grayscale(100%);
    position: absolute;
    top: 33%;
    left: 31.6%;
}
.panal5{
    filter: grayscale(100%);
    position: absolute;
    top: 44.4%;
    left: 36%;
}
.panal6{
    filter: grayscale(100%);
    position: absolute;
    top: 55.5%;
    left: 31.6%;
}

.panal7{
    filter: grayscale(100%);
    position: absolute;
    top: 66.5%;
    left: 36%;
}
.panal8{
    filter: grayscale(100%);
    position: absolute;
    top: 63.6%;
    left: 42.5%;
}
.panal9{
    filter: grayscale(100%);
    position: absolute;
    top: 52.1%;
    left: 46.9%;
}
.panal10{
    filter: grayscale(100%);
    position: absolute;
    top: 41%;
    left: 51.3%;
}
.panal11{
    filter: grayscale(100%);
    position: absolute;
    top: 44%;
    left: 58%;
}
.panal12{
    filter: grayscale(100%);
    position: absolute;
    top: 55.2%;
    left: 62.5%;
}

/*Parte del TIP*/

.abejaImg{
    width: 113.5px;
    height: 100px;
    transform: scaleX(-1);
}
.abeja{
    position: absolute;
    top: 57%;
    left: 71%;
}

#abejaTip{
    position: fixed;
    top: 50%;
    right: -100%;
    transition: right 0.4s ease-in-out;
}

.abejaTipImg {
    width: 400px;
    height: 400px;
    display: block;
    margin: auto;
}

.dialogo{
    position: absolute;
    font-family: 'Gotham';
    font-size: 1.3rem;
    color: white;
    top: 50px;
    right: 100px;
    width: 450px;
    height: 360px;
    padding: 15px;
    clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 80%, 95% 85%, 85% 85%, 85% 100%, 70% 85%, 5% 85%, 0% 80%, 0% 5%);
    background: linear-gradient(to bottom, #e08e16, #ecb44a);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.tip {
    font-family: 'Minnie';
    display: flex;
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 1%;
    right: 1%;
    cursor: pointer;
}

.tip p {
    padding: 0;
    margin: 0;
}

.bombilla{
    width: 80px;
    height: 90px;
    filter: drop-shadow(10px 5px 5px rgba(0, 0, 0, 0.5)) drop-shadow(-10px 5px 5px rgba(0, 0, 0, 0.5)) drop-shadow(0px -10px 5px rgba(0, 0, 0, 0.5));

}


#popup {
    font-family: 'Gotham';
    color: white;
    font-size: 2.5rem;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../img/Pizarra.png');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 1200px;
    height: 750px;
    opacity: 100;
    animation: fadeInOut 0.5s ease-in-out forwards;
}

#problemaMatematicoDiv{
    display: flex;
    justify-content: center;
}

#enunciado {
    font-size: 40px;
    margin-top: 120px;
    color: white;
    text-align: center;
    margin-bottom: 0px;
}

#problemaMatematicoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#problemaMatematicoDiv p.pProblema {
    color: white;
    font-size: 6rem;
    margin-top: 50px; 
    margin-bottom: 10px;

}


#mensajeFelicitaciones{
    color: white;
    font-size: 2.6rem;
    margin-top: 50px;
    text-align: center;
}

#mensajeIntento {
    color: white;
    font-size: 2.6rem;
    margin-top: 0px;
    text-align: center;
}

#contenedorRespuesta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btnEvaluar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Minnie';
    font-size: 1.5rem;
    background: linear-gradient(to bottom, #e08e16, #ecb44a);
    border: 10px solid #F2C560;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    left: 0.8%;
}

.btnEvaluar:hover{
    background: linear-gradient(to bottom, #E9AB46, #DD8509);
    border: 10px solid #F0C30C;
}

#respuestaInput{
    all: unset;
}

/*dialogo-final*/
.dialogo-final {
    font-family: 'Gotham';
    color: white;
    font-size: 3rem;
    position: fixed;
     position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../img/Pizarra.png'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center; /* Centra la imagen */
    padding: 20px; /* Ajustado a 20px para proporcionar algún relleno */
    width: 1080px;
    height: 744px;
    z-index: 1; /* Asegura que esté en la parte superior */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center;
    opacity: 100;
    animation: fadeInOut 0.5s ease-in-out forwards;
}

/*Dialogo-exito*/
.dialogo-exito {
    font-family: 'Gotham';
    color: white;
    font-size: 3rem;
    position: fixed;
     position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../img/Pizarra.png'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center; /* Centra la imagen */
    padding: 20px; /* Ajustado a 20px para proporcionar algún relleno */
    width: 1080px;
    height: 744px;
    z-index: 1; /* Asegura que esté en la parte superior */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center;
    opacity: 100;
    animation: fadeInOut 0.5s ease-in-out forwards;
}

/*dialogo-animo*/
.dialogo-animo {
    font-family: 'Gotham';
    color: white;
    font-weight: bold;
    font-size: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    background-image: url('../img/Pizarra.png'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    padding: 20px;
    width: 540px;
    height: 372px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 100;
    animation: fadeInOut 0.5s ease-in-out forwards;
}

.premio {
    position: absolute;
    top: 24%;
    left: 30%;
    filter: drop-shadow(10px 5px 10px rgba(0, 0, 0, 0.5));
    z-index: 9999;
    animation: flotar 3s ease-in-out infinite;
    transform-origin: center bottom;
}

.premio-img {
    width: 200px; 
    height: 180px; 
}

.abeja-animo {
    position: absolute;
    top: 50%;
    left: 55%;
    filter: drop-shadow(10px 5px 10px rgba(0, 0, 0, 0.5));
    z-index: 9999;
    animation: flotar 3s ease-in-out infinite;
    transform-origin: center bottom;
}


.abeja-animo-img {
    width: 300px; 
    height: 290px; 
    
}

#contadorEjercicios {
    position: fixed;
    top: 1.5%;
    right: 3%;
    font-family: 'Bukhari';
    font-size: 1.5rem;
    color: black ;
    background: linear-gradient(to bottom, #e08e16, #ecb44a);
    border: 10px solid #F2C560;
    border-radius: 10px;
    padding: 5px 10px;
    z-index: 999; /* Asegura que esté en la parte superior */
}


#contadorEjercicios p {
    margin: 0;
    color: white;
}

#contadorNumero {
    margin-right: 5px;
}

.abeja-animo {
    position: absolute;
    top: 55%;  
    left: 50%;
    filter: drop-shadow(10px 5px 10px rgba(0, 0, 0, 0.5)); /* Agrega el efecto de sombra */
    z-index: 9999;
    animation: flotar 3s ease-in-out infinite; /* Agrega la animación de flotar */
    transform-origin: center bottom; /* Define el punto de transformación en la base de la abeja */
}

@keyframes flotar {
    0%, 100% {
        transform: translateY(0); /* Inicio y final: no hay movimiento vertical */
    }
    50% {
        transform: translateY(-20px); /* En el medio del tiempo, mueve la abeja hacia arriba */
    }
}


@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.abeja-animo-img {
    width: 400px; 
    height: 360px; 
    
}


.manzana-img {
        width: 30px;  /* Ajusta el tamaño según tus preferencias */
        height: auto; /* Para mantener la proporción original */
        margin-right: 2px; /* Ajusta el margen según tus preferencias */
    }